/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');

/*# sourceMappingURL=style.css.map */

/* header */
.header_top{
	height: 191px ;
}
.header_banner{background-size: cover;background-repeat: no-repeat; }
.boxed .header_inner {
    width: 100%;
    margin: 0 auto;
}
body.boxed .footer_inner{
     width: 100%;
    margin: 0 auto;
}
 body.boxed .wrapper_inner {
    width: 1060px;
    margin: 0 auto;
}

.cont-back-image{
	background-color: #202528 !important;
    background-position: left bottom !important;
}
.white_text{color:#fff;}
p{margin-top: 0px;}
.full_width{background: transparent;}
.section-second h1{font-size: 22px;
    font-weight: 400;}

 .portfols .vc_column_container{padding: 30px;}
 .inner-port .vc_column-inner{padding:0!important;    border-radius: 5px;     transition: all 0.3s ease;}
.inner-port .inner_in_portf{ box-sizing: border-box;
    padding: 15px;}
 .green_text {
    color: #A9C149;
}
  .inner-port p{  margin-bottom: 13px !important;}
  .sec-text p{    padding-right: 4px;}
 .dtline2 {
    font-family: open sans;
    font-size: 18pt;
    font-weight: 500;
    padding-right: 0;
    padding-top: 8px;
}	
.container_inner {
    width: inherit ;
    }
    input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {
    background-color: #a9c149;
    border-color: #a9c149;
    color: #fff;
    text-decoration: none;
}
input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
    border: #a9c149;
   
    background: #a9c149;
    color: #fff;
        height: 30px;
    line-height: 30px;
        font-weight: 600;
    text-transform: capitalize;
    padding: 0px 9px;
}
input.wpcf7-form-control.wpcf7-text,input.wpcf7-form-control.wpcf7-number{padding: 12px !important;}
 .inner-port .vc_column-inner:hover{cursor: pointer; background-color: #42474a!important;}
 footer .widget_text h5:first-child:after{
 	content: '';
    display: block;
    height: 1px;
    width: 60%;
    border-bottom: 1px solid #a9c149;
}
.footer_top h5{margin: 0 0 10px;}
.footer_top a:hover {
    text-decoration: underline;
}
.footer_top li{ padding: 3px;}
.image_format li{border: 1px solid #fff;
    padding: 10px !important;
    border-radius: 4px;}
h3{margin-bottom: 11px;}
.web123-footer_bottom{    vertical-align: -webkit-baseline-middle;}
.footer_bottom a:hover{text-decoration: underline;}
.web123_footer{display: none;}
.page-id-170 .full_width ul,.page-id-161 .full_width ul {padding:10px 30px;}


@media screen and (max-width: 980px){

 body.boxed .wrapper_inner {
    width: 1000px;
    margin: 0 auto;
}
}
