<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `none`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `none`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `none - none - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `none`</div>
<div class="progress-msg"><b>CREATING</b> `none` `Post`</div>
<div class="progress-msg">Associate post `none` with current import ...</div>
<div class="progress-msg">Associate post `none` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=1839394 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=1802722 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=2084676 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png` for `none` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image button_custom_viewdetails.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=1839394 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=1802722 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=2084676 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `none` `Post` (ID: 174)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cruise Travel Bureau`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cruise Travel Bureau`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Cruise Travel Bureau - Cruise Travel Bureau - Cruise Travel Bureau
Cruising
has become the new trend for many Australians and over the years we have worked
and become affiliated with most of the worldwide cruises.
We
are accredited with the major cruises company worldwide and can help you to
book and handle any cruises anywhere in the world!
For
those travellers that prefer to be hands on and book online we can still help
to check and make sure that everything is as it should be. It is important that
once you have made the booking, and before you pay the deposit, to send your
reservation to us.
You
still get all your privileges and discounts but also the bonus of having a
professional, experienced Travel Manager oversee your booking at no extra cost.
By
looking after your booking we will get a better travel rating with the cruise
company and at the same time it will allow us to look after you and give you
peace of mind.
Remember
even if you decide to book online, we can still look after you, it is important
that you send your reservation to use before you pay the deposit ....`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Cruise Travel Bureau`</div>
<div class="progress-msg"><b>CREATING</b> `Cruise Travel Bureau` `Post`</div>
<div class="progress-msg">Associate post `Cruise Travel Bureau` with current import ...</div>
<div class="progress-msg">Associate post `Cruise Travel Bureau` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=2331577 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png` for `Cruise Travel Bureau` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image button_custom_viewdetails.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=2331577 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Cruise Travel Bureau` `Post` (ID: 175)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Learn Italian while cycling across Puglia - Guided Tour`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Learn Italian while cycling across Puglia - Guided Tour`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Learn Italian while cycling across Puglia - Guided Tour - Learn Italian while cycling across Puglia - Guided Tour - Enjoy your cycling holiday while learning Italian
Salento is in the most south-eastern region of Italy,
lying in the so-called "heel of the boot". Situated in the centre of
the Mediterranean
Sea,
this region is filled with memories of the different civilizations that inhabited
it, from the Messapii, to the Greeks, followed by the Romans and then the Normans.
Crossing Salento with a bicycle is like cycling through an open-air museum. Prehistoric Dolmen, Byzantine shrines hidden in the
caves, Baroque cathedrals, secluded corners of the coast... are all but a few of
the things you can see when visiting this area. Salento is also internationally
renow ned for its characteristic
cuisine which
combines flavours from the sea and the earth and the fantastic rhythm of its folk music: most
notably the Pizzica.
ITINERARY: Salento
is a region that is almost
completely flat, making
the ride a pleasant journey for any level of rider. We will be cycling approximately 30 km a day (around
3 hours of leisurely
cycling),
mainly crossing secondary
roads,
with sea-breaks, guided visits and Italian lessons  the tour follows the philosophy of
“slow moving” to fully enjoy the surrounding landscape and culture with all its
different aspects. 
Day 1 Arrival: Independent arrival in 
Otranto or Lecce . Meeting the guide and Initial briefing of the trip.

Day
2: surroundings of Otranto 
ACTIVITIES: 8.30/10.30: Italian entry-level test in the school "Porta
d'Oriente"; 13.00: Lunch; 14.30: Cycling tour in the surrounding area of Otranto; 20.30: Dinner

On
the first cycling day we will visit a traditional craftsman fabric workshop, a few pre-historical
monuments spread
across the area, a marvelous botanical garden in Giuggianello, with a unique collection of
Cactaceae, and to conclude the tour, a "Masseria", (a historic
fortified farmhouse that produces cheese) in Uggiano la Chiesa.
Day
3: from Otranto to Castro 
ACTIVITIES:8.30:
Departure
from Otranto; 10.30:
Arrival
in Castro and snack; 11.00/12.30:
Italian
lesson; 13.00:
Swim
in the sea and packed-lunch; 15.00:
Departure
with the bicycle towards the Zinzulusa cave and Aquaviva beach; 18.00/19.30:
Italian
lesson; 20.30:
Dinner
This day is dedicated to one of the most fascinating portions
of the Italian coast, where
different towers, originating from the XVI
century, rise facing the sea. It is the most eastern spot of the peninsula: when the sky is clear you can
see the mountains of Albania
and
Greece
across
the bay. In the afternoon we will visit the Grotta Zinzulusa, a cave proceeding for metres and metres toward the heart
of the earth, and the splendid Aquaviva creek, characterised by the underground
fresh
water river
that flows toward the sea.
Day 4: from Castro to Leuca 
ACTIVITIES: 8.30/9.45:
Departure
from Castro and arrival at Marina Serra; 10.30/12.00:
Italian
lesson; 12.30:
Swim
in the sea and packed lunch; 15.00/16.30
Italian
lesson; 17.00:
Departure
towards Tricase; 17.30:
Guided
tour on foot across the historical town centre of Tricase; 19.00:
Departure
towards Leuca; 20.30:
Arrival
in Leuca and dinner
We carry on through the Otranto-Leuca coast, the so
called “park-road”, with an outstanding
panorama. At the arrival in Marina Serra, an Italian lesson will take place in a coastline pine
forest,
and then we will rest by a picturesque inlet where it will be also possible to
swim. In the afternoon we will visit the small town of Tricase, famous for its churches and small
lanes,
then we will proceed towards Leuca, following secondary roads characterized by
their century-old
olive trees.
Day 5: Leuca 
ACTIVITIES: 8.30/13.00: Italian lesson cycling around villages in the area; 13.30/19.30:
Sailing
trip, lunch served on board, and a swim in the sea; 20.00:
Return
to the port for a free evening where you can make your own arrangements.Today will be jam-packed; with an Italian lesson while
you cycle across the villages around Capo Leuca. We will see ancient towers, underground
oil mills, the ruin of a pre-Roman city, a  Mausoleum that holds traces of Byzantine frescoes, a semi-abandoned castle and an ancient church with incredibly vast sub terrains...; all while having a
continuous Italian lesson with our teachers! In the afternoon, we will have a sailing trip with lunch provided on
board!

Day
6: Leuca - Torre Suda 
ACTIVITIES: 8.30/10.30:
Departure
from Leuca and arrival at the Sarruni Guest Farm; 11.00/12.30:
snack
and Italian lesson; 13.00:
Lunch; 15.00/16.30:
Italian
lesson; 17.00/19.00:
Departure
from Sarruni and arrival at Alliste; 20.00:
Free
evening where you can make your own arrangements.The day is dedicated to the Salentinian countryside, one of the best-kept secrets
of the region defined by its olive trees and the Mediterranean vegetation. The
Italian lesson will take place in the wood of an organic guest farm, where we are going to have lunch. In the afternoon,
after the second lesson, we will depart once again across the countryside,
where we will see the "Trulli"
and
the "Pajare"
(ancient
buildings made with dry stone) and the Tu'rat garden, of Arabian origin.


Day
7: from Torre Suda to Santa Caterina 
ACTIVITIES: 8.30/9.30:
Departure
from Torre Suda and arrival at the park of Punta Pizzo; 10.00/12.00:
Italian
Lesson in the pine-forest of Punta Della Suina; 13.00:
Packed
lunch and swim; 15.00:
Depart
for Gallipoli; 15.30:
Guided
walking tour of Gallipoli; 18.00/19.00:
Depart
from Gallipoli and arrive in Santa Caterina; 20.00:
Dinner
The Italian lesson will take place in a coastline pine
forest, next to one of the most famous beaches of Italy. After lunch we will
visit Gallipoli, an ancient city from
the Roman
era on
an island, which s, currently populated by fisherman. Towards sunset we will
travel to Santa Caterina, where we will stop for the night, in a B&B with
view of the sea. 
Day
8: Santa Caterina 
ACTIVITIES: 8.30-10.30:
Cycling
tour towards Nardó and the "masserie" (fortified farm-houses) in the
region of Porto Selvaggio; 11.00:
Snack; 11.30-13.30:
Italian
lesson; 14.00:
Packed
lunch and excursion on foot (or by canoe) in Porto Selvaggio; 17.00-19.00:
Italian
lesson in a pine forest; 21.00:
Dinner
Another full day today! In the morning a short cycle:
we will visit the city of Nardó
and
some of the nearby "masserie". Then we will go back to
our B&B for the ItalianM lesson. In the early afternoon we will go (on foot
or by canoe) to the natural park
of Porto
Selvaggio, Am
forest next to the sea, where we are going to have our second lesson of the day
and then a nice swim. Return by sunset. 
Day
9: from Santa Caterina to Lecce 
ACTIVITIES: 8.30-11.30:
Final
Italian language test; 13.00:
Lunch; 15.30:
Departure
towards Galatina, visiting the historical town centre of Galatone en-route; 17.30:
Arrival
at Galatina and guided tour of the historical town centre; 19.30-20.30:
Return
to Lecce by train and dinner
Morning dedicated to the final test of our Italian
course. After lunch we will travel towards Galatone, where we will visit the historical town centre and the town castle, and then Galatina, where we will visit the church of Santa Caterina
D'Alessandria, one
of the most beautiful masterpieces of medieval art in the south of Europe. We will
also pay a short visit to a local wine cellar, to observe the process of wine-making, ending with a wine and
cheese tasting. In
the late afternoon we will get the train for Lecce and we will reach the city in the evening. 
Day 10 :During the morning, guided visit of Lecce on foot and final departureDownload the PDF version:Learn-Italian-Cyclling.pdf`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Learn Italian while cycling across Puglia - Guided Tour`</div>
<div class="progress-msg"><b>CREATING</b> `Learn Italian while cycling across Puglia - Guided Tour` `Post`</div>
<div class="progress-msg">Associate post `Learn Italian while cycling across Puglia - Guided Tour` with current import ...</div>
<div class="progress-msg">Associate post `Learn Italian while cycling across Puglia - Guided Tour` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=1378957 | http://www.italianbureau.com.au/f.ashx?v=1379842 | http://www.italianbureau.com.au/f.ashx?v=1379844 | http://www.italianbureau.com.au/f.ashx?v=1379845 | http://www.italianbureau.com.au/f.ashx?v=1379851 | http://www.italianbureau.com.au/f.ashx?v=1379852 | http://www.italianbureau.com.au/f.ashx?v=1379853 | http://www.italianbureau.com.au/f.ashx?v=1379859 | http://www.italianbureau.com.au/f.ashx?v=1410964 | http://www.italianbureau.com.au/f.ashx?v=1412258 | http://www.italianbureau.com.au/f.ashx?v=1412255 | http://www.italianbureau.com.au/f.ashx?v=1412256 | http://www.italianbureau.com.au/f.ashx?v=1412257 | http://www.italianbureau.com.au/f.ashx?v=1412259 | http://www.italianbureau.com.au/f.ashx?v=1798710 | http://www.italianbureau.com.au/f.ashx?v=1904221` for `Learn Italian while cycling across Puglia - Guided Tour` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image f.html; charset=utf-8 not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=1378957 | http://www.italianbureau.com.au/f.ashx?v=1379842 | http://www.italianbureau.com.au/f.ashx?v=1379844 | http://www.italianbureau.com.au/f.ashx?v=1379845 | http://www.italianbureau.com.au/f.ashx?v=1379851 | http://www.italianbureau.com.au/f.ashx?v=1379852 | http://www.italianbureau.com.au/f.ashx?v=1379853 | http://www.italianbureau.com.au/f.ashx?v=1379859 | http://www.italianbureau.com.au/f.ashx?v=1410964 | http://www.italianbureau.com.au/f.ashx?v=1412258 | http://www.italianbureau.com.au/f.ashx?v=1412255 | http://www.italianbureau.com.au/f.ashx?v=1412256 | http://www.italianbureau.com.au/f.ashx?v=1412257 | http://www.italianbureau.com.au/f.ashx?v=1412259 | http://www.italianbureau.com.au/f.ashx?v=1798710 | http://www.italianbureau.com.au/f.ashx?v=1904221`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Learn Italian while cycling across Puglia - Guided Tour` `Post` (ID: 176)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `none`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `none`...</div>
<div class="progress-msg">Duplicate post was found for post none with unique key `none - none - `...</div>
<div class="progress-msg">Deleting attachments for `none`</div>
<div class="progress-msg">Deleting images for `none`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `none`</div>
<div class="progress-msg"><b>UPDATING</b> `none` `Post`</div>
<div class="progress-msg">Associate post `none` with current import ...</div>
<div class="progress-msg">Associate post `none` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=1839394 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=1802722 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=2084676 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png` for `none` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image button_custom_viewdetails.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=1839394 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=1802722 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=2084676 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `none` `Post` (ID: 174)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cruise Travel Bureau`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cruise Travel Bureau`...</div>
<div class="progress-msg">Duplicate post was found for post Cruise Travel Bureau with unique key `Cruise Travel Bureau - Cruise Travel Bureau - Cruise Travel Bureau
Cruising
has become the new trend for many Australians and over the years we have worked
and become affiliated with most of the worldwide cruises.
We
are accredited with the major cruises company worldwide and can help you to
book and handle any cruises anywhere in the world!
For
those travellers that prefer to be hands on and book online we can still help
to check and make sure that everything is as it should be. It is important that
once you have made the booking, and before you pay the deposit, to send your
reservation to us.
You
still get all your privileges and discounts but also the bonus of having a
professional, experienced Travel Manager oversee your booking at no extra cost.
By
looking after your booking we will get a better travel rating with the cruise
company and at the same time it will allow us to look after you and give you
peace of mind.
Remember
even if you decide to book online, we can still look after you, it is important
that you send your reservation to use before you pay the deposit ....`...</div>
<div class="progress-msg">Deleting attachments for `Cruise Travel Bureau`</div>
<div class="progress-msg">Deleting images for `Cruise Travel Bureau`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Cruise Travel Bureau`</div>
<div class="progress-msg"><b>UPDATING</b> `Cruise Travel Bureau` `Post`</div>
<div class="progress-msg">Associate post `Cruise Travel Bureau` with current import ...</div>
<div class="progress-msg">Associate post `Cruise Travel Bureau` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=2331577 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png` for `Cruise Travel Bureau` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image button_custom_viewdetails.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=2331577 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Cruise Travel Bureau` `Post` (ID: 175)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Learn Italian while cycling across Puglia - Guided Tour`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Learn Italian while cycling across Puglia - Guided Tour`...</div>
<div class="progress-msg">Duplicate post was found for post Learn Italian while cycling across Puglia - Guided Tour with unique key `Learn Italian while cycling across Puglia - Guided Tour - Learn Italian while cycling across Puglia - Guided Tour - Enjoy your cycling holiday while learning Italian
Salento is in the most south-eastern region of Italy,
lying in the so-called "heel of the boot". Situated in the centre of
the Mediterranean
Sea,
this region is filled with memories of the different civilizations that inhabited
it, from the Messapii, to the Greeks, followed by the Romans and then the Normans.
Crossing Salento with a bicycle is like cycling through an open-air museum. Prehistoric Dolmen, Byzantine shrines hidden in the
caves, Baroque cathedrals, secluded corners of the coast... are all but a few of
the things you can see when visiting this area. Salento is also internationally
renow ned for its characteristic
cuisine which
combines flavours from the sea and the earth and the fantastic rhythm of its folk music: most
notably the Pizzica.
ITINERARY: Salento
is a region that is almost
completely flat, making
the ride a pleasant journey for any level of rider. We will be cycling approximately 30 km a day (around
3 hours of leisurely
cycling),
mainly crossing secondary
roads,
with sea-breaks, guided visits and Italian lessons  the tour follows the philosophy of
“slow moving” to fully enjoy the surrounding landscape and culture with all its
different aspects. 
Day 1 Arrival: Independent arrival in 
Otranto or Lecce . Meeting the guide and Initial briefing of the trip.

Day
2: surroundings of Otranto 
ACTIVITIES: 8.30/10.30: Italian entry-level test in the school "Porta
d'Oriente"; 13.00: Lunch; 14.30: Cycling tour in the surrounding area of Otranto; 20.30: Dinner

On
the first cycling day we will visit a traditional craftsman fabric workshop, a few pre-historical
monuments spread
across the area, a marvelous botanical garden in Giuggianello, with a unique collection of
Cactaceae, and to conclude the tour, a "Masseria", (a historic
fortified farmhouse that produces cheese) in Uggiano la Chiesa.
Day
3: from Otranto to Castro 
ACTIVITIES:8.30:
Departure
from Otranto; 10.30:
Arrival
in Castro and snack; 11.00/12.30:
Italian
lesson; 13.00:
Swim
in the sea and packed-lunch; 15.00:
Departure
with the bicycle towards the Zinzulusa cave and Aquaviva beach; 18.00/19.30:
Italian
lesson; 20.30:
Dinner
This day is dedicated to one of the most fascinating portions
of the Italian coast, where
different towers, originating from the XVI
century, rise facing the sea. It is the most eastern spot of the peninsula: when the sky is clear you can
see the mountains of Albania
and
Greece
across
the bay. In the afternoon we will visit the Grotta Zinzulusa, a cave proceeding for metres and metres toward the heart
of the earth, and the splendid Aquaviva creek, characterised by the underground
fresh
water river
that flows toward the sea.
Day 4: from Castro to Leuca 
ACTIVITIES: 8.30/9.45:
Departure
from Castro and arrival at Marina Serra; 10.30/12.00:
Italian
lesson; 12.30:
Swim
in the sea and packed lunch; 15.00/16.30
Italian
lesson; 17.00:
Departure
towards Tricase; 17.30:
Guided
tour on foot across the historical town centre of Tricase; 19.00:
Departure
towards Leuca; 20.30:
Arrival
in Leuca and dinner
We carry on through the Otranto-Leuca coast, the so
called “park-road”, with an outstanding
panorama. At the arrival in Marina Serra, an Italian lesson will take place in a coastline pine
forest,
and then we will rest by a picturesque inlet where it will be also possible to
swim. In the afternoon we will visit the small town of Tricase, famous for its churches and small
lanes,
then we will proceed towards Leuca, following secondary roads characterized by
their century-old
olive trees.
Day 5: Leuca 
ACTIVITIES: 8.30/13.00: Italian lesson cycling around villages in the area; 13.30/19.30:
Sailing
trip, lunch served on board, and a swim in the sea; 20.00:
Return
to the port for a free evening where you can make your own arrangements.Today will be jam-packed; with an Italian lesson while
you cycle across the villages around Capo Leuca. We will see ancient towers, underground
oil mills, the ruin of a pre-Roman city, a  Mausoleum that holds traces of Byzantine frescoes, a semi-abandoned castle and an ancient church with incredibly vast sub terrains...; all while having a
continuous Italian lesson with our teachers! In the afternoon, we will have a sailing trip with lunch provided on
board!

Day
6: Leuca - Torre Suda 
ACTIVITIES: 8.30/10.30:
Departure
from Leuca and arrival at the Sarruni Guest Farm; 11.00/12.30:
snack
and Italian lesson; 13.00:
Lunch; 15.00/16.30:
Italian
lesson; 17.00/19.00:
Departure
from Sarruni and arrival at Alliste; 20.00:
Free
evening where you can make your own arrangements.The day is dedicated to the Salentinian countryside, one of the best-kept secrets
of the region defined by its olive trees and the Mediterranean vegetation. The
Italian lesson will take place in the wood of an organic guest farm, where we are going to have lunch. In the afternoon,
after the second lesson, we will depart once again across the countryside,
where we will see the "Trulli"
and
the "Pajare"
(ancient
buildings made with dry stone) and the Tu'rat garden, of Arabian origin.


Day
7: from Torre Suda to Santa Caterina 
ACTIVITIES: 8.30/9.30:
Departure
from Torre Suda and arrival at the park of Punta Pizzo; 10.00/12.00:
Italian
Lesson in the pine-forest of Punta Della Suina; 13.00:
Packed
lunch and swim; 15.00:
Depart
for Gallipoli; 15.30:
Guided
walking tour of Gallipoli; 18.00/19.00:
Depart
from Gallipoli and arrive in Santa Caterina; 20.00:
Dinner
The Italian lesson will take place in a coastline pine
forest, next to one of the most famous beaches of Italy. After lunch we will
visit Gallipoli, an ancient city from
the Roman
era on
an island, which s, currently populated by fisherman. Towards sunset we will
travel to Santa Caterina, where we will stop for the night, in a B&B with
view of the sea. 
Day
8: Santa Caterina 
ACTIVITIES: 8.30-10.30:
Cycling
tour towards Nardó and the "masserie" (fortified farm-houses) in the
region of Porto Selvaggio; 11.00:
Snack; 11.30-13.30:
Italian
lesson; 14.00:
Packed
lunch and excursion on foot (or by canoe) in Porto Selvaggio; 17.00-19.00:
Italian
lesson in a pine forest; 21.00:
Dinner
Another full day today! In the morning a short cycle:
we will visit the city of Nardó
and
some of the nearby "masserie". Then we will go back to
our B&B for the ItalianM lesson. In the early afternoon we will go (on foot
or by canoe) to the natural park
of Porto
Selvaggio, Am
forest next to the sea, where we are going to have our second lesson of the day
and then a nice swim. Return by sunset. 
Day
9: from Santa Caterina to Lecce 
ACTIVITIES: 8.30-11.30:
Final
Italian language test; 13.00:
Lunch; 15.30:
Departure
towards Galatina, visiting the historical town centre of Galatone en-route; 17.30:
Arrival
at Galatina and guided tour of the historical town centre; 19.30-20.30:
Return
to Lecce by train and dinner
Morning dedicated to the final test of our Italian
course. After lunch we will travel towards Galatone, where we will visit the historical town centre and the town castle, and then Galatina, where we will visit the church of Santa Caterina
D'Alessandria, one
of the most beautiful masterpieces of medieval art in the south of Europe. We will
also pay a short visit to a local wine cellar, to observe the process of wine-making, ending with a wine and
cheese tasting. In
the late afternoon we will get the train for Lecce and we will reach the city in the evening. 
Day 10 :During the morning, guided visit of Lecce on foot and final departureDownload the PDF version:Learn-Italian-Cyclling.pdf`...</div>
<div class="progress-msg">Deleting attachments for `Learn Italian while cycling across Puglia - Guided Tour`</div>
<div class="progress-msg">Deleting images for `Learn Italian while cycling across Puglia - Guided Tour`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Learn Italian while cycling across Puglia - Guided Tour`</div>
<div class="progress-msg"><b>UPDATING</b> `Learn Italian while cycling across Puglia - Guided Tour` `Post`</div>
<div class="progress-msg">Associate post `Learn Italian while cycling across Puglia - Guided Tour` with current import ...</div>
<div class="progress-msg">Associate post `Learn Italian while cycling across Puglia - Guided Tour` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=1378957 | http://www.italianbureau.com.au/f.ashx?v=1379842 | http://www.italianbureau.com.au/f.ashx?v=1379844 | http://www.italianbureau.com.au/f.ashx?v=1379845 | http://www.italianbureau.com.au/f.ashx?v=1379851 | http://www.italianbureau.com.au/f.ashx?v=1379852 | http://www.italianbureau.com.au/f.ashx?v=1379853 | http://www.italianbureau.com.au/f.ashx?v=1379859 | http://www.italianbureau.com.au/f.ashx?v=1410964 | http://www.italianbureau.com.au/f.ashx?v=1412258 | http://www.italianbureau.com.au/f.ashx?v=1412255 | http://www.italianbureau.com.au/f.ashx?v=1412256 | http://www.italianbureau.com.au/f.ashx?v=1412257 | http://www.italianbureau.com.au/f.ashx?v=1412259 | http://www.italianbureau.com.au/f.ashx?v=1798710 | http://www.italianbureau.com.au/f.ashx?v=1904221` for `Learn Italian while cycling across Puglia - Guided Tour` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image f.html; charset=utf-8 not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=1378957 | http://www.italianbureau.com.au/f.ashx?v=1379842 | http://www.italianbureau.com.au/f.ashx?v=1379844 | http://www.italianbureau.com.au/f.ashx?v=1379845 | http://www.italianbureau.com.au/f.ashx?v=1379851 | http://www.italianbureau.com.au/f.ashx?v=1379852 | http://www.italianbureau.com.au/f.ashx?v=1379853 | http://www.italianbureau.com.au/f.ashx?v=1379859 | http://www.italianbureau.com.au/f.ashx?v=1410964 | http://www.italianbureau.com.au/f.ashx?v=1412258 | http://www.italianbureau.com.au/f.ashx?v=1412255 | http://www.italianbureau.com.au/f.ashx?v=1412256 | http://www.italianbureau.com.au/f.ashx?v=1412257 | http://www.italianbureau.com.au/f.ashx?v=1412259 | http://www.italianbureau.com.au/f.ashx?v=1798710 | http://www.italianbureau.com.au/f.ashx?v=1904221`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Learn Italian while cycling across Puglia - Guided Tour` `Post` (ID: 176)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `none`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `none`...</div>
<div class="progress-msg">Duplicate post was found for post none with unique key `none - none - `...</div>
<div class="progress-msg">Deleting attachments for `none`</div>
<div class="progress-msg">Deleting images for `none`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `none`</div>
<div class="progress-msg"><b>UPDATING</b> `none` `Post`</div>
<div class="progress-msg">Associate post `none` with current import ...</div>
<div class="progress-msg">Associate post `none` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=1839394 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=1802722 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=2084676 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png` for `none` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image button_custom_viewdetails.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=1839394 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=1802722 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png | http://www.italianbureau.com.au/f.ashx?v=2084676 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `none` `Post` (ID: 174)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cruise Travel Bureau`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cruise Travel Bureau`...</div>
<div class="progress-msg">Duplicate post was found for post Cruise Travel Bureau with unique key `Cruise Travel Bureau - Cruise Travel Bureau - Cruise Travel Bureau
Cruising
has become the new trend for many Australians and over the years we have worked
and become affiliated with most of the worldwide cruises.
We
are accredited with the major cruises company worldwide and can help you to
book and handle any cruises anywhere in the world!
For
those travellers that prefer to be hands on and book online we can still help
to check and make sure that everything is as it should be. It is important that
once you have made the booking, and before you pay the deposit, to send your
reservation to us.
You
still get all your privileges and discounts but also the bonus of having a
professional, experienced Travel Manager oversee your booking at no extra cost.
By
looking after your booking we will get a better travel rating with the cruise
company and at the same time it will allow us to look after you and give you
peace of mind.
Remember
even if you decide to book online, we can still look after you, it is important
that you send your reservation to use before you pay the deposit ....`...</div>
<div class="progress-msg">Deleting attachments for `Cruise Travel Bureau`</div>
<div class="progress-msg">Deleting images for `Cruise Travel Bureau`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Cruise Travel Bureau`</div>
<div class="progress-msg"><b>UPDATING</b> `Cruise Travel Bureau` `Post`</div>
<div class="progress-msg">Associate post `Cruise Travel Bureau` with current import ...</div>
<div class="progress-msg">Associate post `Cruise Travel Bureau` with post format standard ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.italianbureau.com.au/f.ashx?v=2331577 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png` for `Cruise Travel Bureau` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image button_custom_viewdetails.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.italianbureau.com.au/f.ashx?v=2331577 | http://www.italianbureau.com.au/i/button_custom_viewdetails.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Cruise Travel Bureau` `Post` (ID: 175)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
