@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #a9c149;
	}
				}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
			.footer_bottom_holder{
			padding-right:10px;
		}
			.footer_bottom_holder{
			padding-left:10px;
		}
	
	}
@media only screen and (max-width: 600px) {
	
	
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
			.footer_top.footer_top_full {
			padding-right:10px;
		}
			.footer_top.footer_top_full {
			padding-left:10px;
		}
	}