




    body{
    	    	    	font-family: 'Open Sans', sans-serif;
    	    	 color: #ffffff;     	 font-size: 13px;     	    }
            body,
		.wrapper,
        .content,
        .full_width,
        .overlapping_content .content > .container,
		.more_facts_holder,
		.comment_holder .comment #respond textarea,
		.comment_holder .comment #respond input[type='text'],
		.comment_holder .comment #respond input[type='email'],
		.content .container
		{
        	background-color:#202528;
        }
		.angled-section polygon{
			fill: #202528;
		}
				
    body.boxed .wrapper{
		
			background-image: url('https://cascadesnursery.com.au/wp-content/uploads/2017/07/tile_bg.png');
		background-position: 0px 0px;
		background-repeat: repeat;
		
			background-image: url('https://cascadesnursery.com.au/wp-content/uploads/2017/07/bg.jpg');
		background-attachment: fixed;
		background-position: center 0px;
		background-repeat: no-repeat;
	}
body.boxed .content{
	 background-color:#202528; }



.header_bottom,
.header_top,
.fixed_top_header .bottom_header{
	background-color: rgba(169,193,73,1);
}



header.fixed.scrolled .header_bottom,
header.fixed.scrolled .header_top,
header.fixed_hiding.scrolled .header_bottom,
header.fixed_hiding.scrolled .header_top {
	background-color: rgba(169,193,73,1) !important;
}






.header_top,
.fixed_top_header .top_header,
.fixed_top_header nav.mobile_menu{
	background-color: rgba(40,40,40,1);
}
header.sticky .header_top{
	background-color: rgba(40,40,40,0.7);
}





						.content{
				margin-top: -88px;
			}
				
	
.logo_wrapper,
.side_menu_button,
.shopping_cart_inner
{
	height: 55px;
}
.content.content_top_margin{
	margin-top: 88px !important;
}

header:not(.centered_logo) .header_fixed_right_area {
    line-height: 55px;
}

header.scrolled .logo_wrapper,
header.scrolled .side_menu_button{
	height: 55px;
}

header.scrolled nav.main_menu ul li a {
	line-height: 55px;
}

header.scrolled .drop_down .second{
	top: 55px;
}








nav.main_menu > ul > li > a{
	line-height: 55px;
}



nav.main_menu > ul > li > a{
	 color: #ffffff; 		font-family: 'Open Sans', sans-serif;
		    	 font-style: normal; 	 font-weight: 300; 		 text-transform: none; }



nav.main_menu ul li:hover a {
	 color: #ffffff; }

		nav.main_menu ul li.active a {
			color: #ffffff		}
	

















h1,
.h1,
.title h1 {
		color: #a9c149; 		font-family: 'Open Sans', sans-serif;
		font-size: 35px; 			font-weight: 300;         }


h3,
.h3,
h3 a{
	color: #a9c149; 		font-family: 'Open Sans', sans-serif;
		font-size: 22px; 			font-weight: 400;     	text-transform: none; }
    p{
    	color: #ffffff;    	    		font-family: 'Open Sans', sans-serif;
    	    	font-size: 13px;    	line-height: 20px;    	    	    	margin-top: 10px;    	margin-bottom: 10px;    }
    .filter_holder ul li span,
    blockquote h5,
    .q_social_icon_holder .simple_social,
    .header-widget.widget_nav_menu ul.menu li a,
    .side_menu a,
    .side_menu li,
    .side_menu span,
    .side_menu p,
    .side_menu .widget.widget_rss li a.rsswidget,
    .side_menu #wp-calendar caption,
    .side_menu #wp-calendar th, 
    .side_menu #wp-calendar td,
    aside .widget #lang_sel_list li a,
    aside .widget #lang_sel li a,
    aside .widget #lang_sel_click li a,
    .wpb_widgetised_column .widget #lang_sel_list li a,
    .wpb_widgetised_column .widget #lang_sel li a,
    .wpb_widgetised_column .widget #lang_sel_click li a,
    section.side_menu #lang_sel_list li a,
    section.side_menu #lang_sel li a,
    section.side_menu #lang_sel_click li a,
    footer #lang_sel_list li a,
    footer #lang_sel li a,
    footer #lang_sel_click li a,
    footer #lang_sel_list.lang_sel_list_horizontal a,
    footer #lang_sel_list.lang_sel_list_vertical a,
    .side_menu #lang_sel_list.lang_sel_list_horizontal a,
    .side_menu #lang_sel_list.lang_sel_list_vertical a,
    #lang_sel_footer a{
    	color: #ffffff;    }
    .header_top #lang_sel > ul > li > a, 
    .header_top #lang_sel_click > ul > li> a,
    footer #lang_sel ul li a,
    footer #lang_sel ul ul a,
    footer #lang_sel_click ul li a,
    footer #lang_sel_click ul ul a,
    footer #lang_sel_click ul ul a span,
    section.side_menu #lang_sel ul li a,
    section.side_menu #lang_sel ul ul a,
    section.side_menu #lang_sel ul ul a:visited,
    section.side_menu #lang_sel_click > ul > li > a,
    section.side_menu #lang_sel_click ul ul a,
    section.side_menu #lang_sel_click ul ul a:visited{
    	color: #ffffff !important;    }
    















.google_map{
	height: 750px;
}


	.footer_top_holder,	footer #lang_sel > ul > li > a,	footer #lang_sel_click > ul > li > a{
		background-color: #262b2e;
	}
	footer #lang_sel ul ul a,footer #lang_sel_click ul ul a,footer #lang_sel ul ul a:visited,footer #lang_sel_click ul ul a:visited{
		background-color: #262b2e !important;
	}

    .footer_top,
    .footer_top.footer_top_full{
     padding-right: 40px;padding-left: 40px 
 }

.footer_top .column_inner > div h2,
.footer_top .column_inner > div h3,
.footer_top .column_inner > div h4,
.footer_top .column_inner > div h5,
.footer_top .column_inner > div h6 {
	color:#a9c149;
}
	.footer_top,
	.footer_top p,
    .footer_top span,
    .footer_top li,
    .footer_top .textwidget,
    .footer_top .widget_recent_entries>ul>li>span {
		color: #ffffff;
	}
    .footer_top a
	{
        color: #a9c149 !important;
    }

    .footer_top .q_social_icon_holder .simple_social {
        color: #a9c149;
    }
    .footer_top a:hover
	{
        color: #a9c149 !important;
    }

    .footer_top .q_social_icon_holder:hover .simple_social {
        color: #a9c149;
    }


	.footer_bottom_holder, #lang_sel_footer{
		background-color:#262b2e;
	}



	.footer_bottom_holder{
	padding-right: 40px;padding-left: 40px	}



	.footer_top h5 {
font-family: "Open Sans", sans-serif;font-size: 17px;font-weight: 400;text-transform: none	}



	.footer_top,
	.footer_top .footer_col1,
	.footer_top .container_inner > .widget,
	.footer_top.footer_top_full > .widget{
		text-align: left;
	}
	.footer_top .footer_col2{
		text-align: left;
	}
	.footer_top .footer_col3{
		text-align: left;
	}

    .footer_bottom_holder,
    .footer_bottom,
    .footer_bottom p,
    .footer_bottom_holder p,
    .footer_bottom span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_font_elegant){
	font-family: "Arial", sans-serif	}


.footer_bottom, .footer_bottom span, .footer_bottom p, .footer_bottom p a, .footer_bottom a, #lang_sel_footer ul li a,
footer #lang_sel > ul > li > a,
footer #lang_sel_click > ul > li > a,
footer #lang_sel a.lang_sel_sel,
footer #lang_sel_click a.lang_sel_sel,
footer #lang_sel ul ul a,
footer #lang_sel_click ul ul a,
footer #lang_sel ul ul a:visited,
footer #lang_sel_click ul ul a:visited,
footer #lang_sel_list.lang_sel_list_horizontal a,
footer #lang_sel_list.lang_sel_list_vertical a,
#lang_sel_footer a,
.footer_bottom ul li a {
	color:rgba(255,255,255,0.8);
}


























/*Blog Masonry Gallery - end */




























 
 
 .vertical_menu_float .menu-item .second{
	left: calc(100% + 30px); /*because of the padding*/
}

.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
	left: calc(100% + 40px);
}

 
 
 




	.vertical_menu_area{
		text-align:left;
	}
	


















    .portfolio_main_holder .item_holder.thin_plus_only .thin_plus_only_icon {
        font-family:     }













												













































































	
	






    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }








